version: '3.8'

services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app  # монтируем код для live-обновлений
    environment:
      - DEBUG=1
      - PYTHONUNBUFFERED=1